h1 {
    text-align: center;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    list-style: none;
    background-color: rgb(81, 81, 81);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

nav a:hover{
    background-color: rgb(36, 35, 35);
}

nav li{
    float: left;
}
