body {
    font-family: arial;
    margin: 0;
    padding: 19px;
    background-color: rgb(56, 56, 57);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: aliceblue;
}

.petrolcalc {
    background-color: #0f36e3;
    font-size: auto;
    max-width: 430px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
}

input:focus {
    border-color: rgb(219, 15, 19);
    outline: none;
}

button {
    width: 100%;
    margin-top: 21px;
    padding: 13px;
    background-color: rgb(216, 21, 89);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: auto;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

#totalcost {
    margin-top: 25px;
    font-weight: bold;
    font-size: auto;
    color: aqua;
    text-align: center;
}